.notes-body {
    display: flex;
    flex: 1;

    .doc-window {
        flex: 1;

        .tabs {
            display: flex;
            background-color: #dfdfdf;
            height: 2.3rem;
            user-select: none;

            .tab {
                padding: 0 1rem;
                display: flex;
                justify-content: center;
                background-color: #e8e8e8;
                min-width: 5rem;
                text-align: center;
                align-items: center;

                &:hover:not(.active) {
                    cursor: pointer;
                    background-color: #e3e3e3;
                }

                .tab-exit {
                    margin-left: 0.8rem;
                    display: none;

                    img {
                        height: 1rem;
                    }
                }
            }
            .active {
                background-color: #f0f0f0;

                .tab-exit {
                    display: flex;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .doc-body {
            height: 100%;
            background-color: #f0f0f0;
            padding: 3rem;

            .doc-page {
                background-color: #f9f9f9;
                height: 100%;
                padding: 3rem 6rem;
            }
        }
    }

    .folder-sidepanel {
        width: 18rem;
        background-color: rgba(255, 255, 255, 0.8);

        .folder-header {
            text-align: center;
            max-height: 6rem;

        }
        .loading-folders {
            text-align: center;
        }
        .folder-tree {
            padding: 0 0.5rem;
            font-size: 0.85rem;
            max-height: calc(100vh - 10rem);
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 20px;
            }
            &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
                width: 15px;
                background-clip: padding-box;
                border-radius: 10px;
                border: solid 8px transparent;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(143, 143, 143, 0.486);
                min-height: 25px;
            }
            &.no-display {
                display: none;
            }
            

            .Folder {
                margin-bottom: 0.2rem;

                .folder-cont {
                    display: flex;
                    align-items: center;
                    user-select: none;

                    &:hover {
                        cursor: pointer;
                        
                        &:not(.item-selected) {
                            background-color: #e8e8e85b;
                        }
                    }

                    .folder-icon {
                        display: flex;
                        img {
                            align-items: center;
                        }
                    }
                }
                .folder-children {
                    margin-left: 0.72rem;
                    border-left: solid 0.5px rgba(200, 200, 200, 0.4);

                    &.closed {
                        display: none;
                    }
                }
            }
            .File {
                margin-left: 1.6rem;
                padding-top: 0.1rem;
                padding-bottom: 0.1rem;
                user-select: none;

                &:hover {
                    cursor: pointer;

                    &:not(.item-selected) {
                        background-color: #e8e8e85b;
                    }
                }
            }
            .item-selected {
                background-color: #ffffff9f;
            }
            .folder-name-form {
                display: none;
            }
            .proxy-folder-note {
                margin-left: 0.8rem;
            }
        }
        .folder-context-menu-cont {
            background-color: #f9f9f9;
            border-radius: 8px;
            padding: 0.5rem 0;
            box-shadow: -2px 2px 4px -5px rgba(0,0,0,0.75);

            .folder-cotext-menu-item {
                width: 15rem;
                font-size: 0.8rem;
                padding: 0.2rem 0.6rem;
                display: flex;

                &:hover {
                    background-color: #f0f0f0;
                    cursor: pointer;
                }

                .context-menu-item-name {
                    flex: 1;
                }
                .context-menu-item-shortcut {
                    flex: 1;
                    text-align: right;
                }
            }
            .folder-context-menu-divider {
                border-bottom: solid 1px #d0d0d0;
                margin: 0.5rem 0.5rem;
            }
        }
    }
}


.note-row {
    padding: 0.1rem 0;

    .note-cont {
        position: relative;

        .controls {
            position: absolute;
            margin-right: 0.5rem;
            align-items: center;
            display: none;
            left: -3.5rem;

            .control {
                padding: 0.2rem 0.4rem;
                color: #c5c5c5;
                display: flex;
                align-items: center;

                &:hover {
                    cursor: pointer;
                    background-color: #f1f1f1;
                }
                .handles-icon {
                    height: 1.3rem;

                    &:hover {
                        cursor: grab;
                    }
                }
            }
        }
        .note-content {
            padding: 0.2rem 0.5rem;
            flex: 1;

            &:focus:empty::before {
                content: attr(data-placeholder);
                color: rgba(0, 0, 0, 0.5);
            }
            &:focus {
                outline: 0px solid transparent;
            }
            &::selection,
            *::selection {
                background-color: #8fd2f879;
            }
        }
        .child-note-cont {
            padding-left: 2rem;
        }
    }
}


.indicator-container {
    position: relative;
}

.abs-indicator {
    position: absolute;
    display: flex;
    top: -4px;
    left: 0.5rem;
    right: 0;

    .extra-child-indicator {
        height: 0.2rem;
        width: 1.6rem;
        background-color: #fd00004d;
        margin-right: 0.35rem;
    }
    
    .indicator {
        flex: 1;
        height: 0.15rem;
        background-color: red;
    }
    
}



.note-menu-bar {
    .save-btn {
        &.hide {
            display: none;
        }
    }
}